{% load custom_tag %}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="tutorNavbar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'tutor_calendar' %}" id="navbarTutor" role="button"
                           aria-expanded="false">
                            Calendario
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'tutor_profile' %}" role="button" aria-expanded="false">
                            Perfil
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'tutor_courses' %}" role="button" aria-expanded="false">
                            Mis cursos
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarSessions" role="button"
                           data-toggle="dropdown" aria-expanded="false">
                            Mis tutorías
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'tutor_pending_requests' %}">Pendientes</a></li>
                            <li><a class="dropdown-item" href="{% url 'tutor_accepted_requests' %}">Aceptadas</a></li>
                            <li><a class="dropdown-item" href="{% url 'tutor_done_requests' %}">Historial</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'tutor_profit' %}" role="button" aria-expanded="false">
                            Ganancias
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-2">
                        {% show_message_notifications %}
                    </li>
                    <li class="nav-item dropdown mr-4">
                        {% show_notifications %}
                    </li>
                    <li class="nav-item">
                        <a type="button" class="btn btn-primary" href="{% url 'logout' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                                <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

