{% extends "base.html" %}

{% block content %}

  <div class="container-fluid" style="margin-top: 4vw;">
    <h1 class="text-center" id="header1">Bienvenido(a)</h1>
    <form action="{% url 'search' type_search='cursos' %}" method = "GET" style="margin-top: 2vw;">
      <div class="form-row align-items-center justify-content-center">
        <div class="col-md-3 my-1 text-center">
          <input id="course_search" type="text" class="form-control" name="buscar" placeholder="Ejemplo: Informática">
        </div>
        <div class="col-auto my-1 text-center">
          <input type="submit" class="btn btn-primary" value="Buscar">
        </div>
      </div>
    </form>
  </div>

{% endblock content %}