{% extends "base.html" %}

{% block content %}
    <div class="container">
        </br>
        {% if success %}
            <div class="alert alert-success">
                Se agendó la tutoría de manera correcta.
            </div>
        {% else %}
            <div class="alert alert-danger">
                Hubo un problema al agendar la tutoría, intentelo de nuevo más tarde.
            </div>
        {% endif %}
        </br>
        <a class="btn btn-primary float-right"  href={% url 'index' %} aria-controls="redirect to index">
        Aceptar
        </a>
    </div>
{% endblock content %}